.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    width: calc(100% - 96px);
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .photo-grid {
            gap: 14px;
        }
}
@media screen and (max-width: 768px) {
    .photo-grid {
            width: calc(100% - 48px);
            gap: 16px;
        }
}
@media screen and (max-width: 320px) {
    .photo-grid {
            width: calc(100% - 32px);
            gap: 12px;
        }
}