.header {
    display: flex;
    justify-content: space-between;
    min-height: 52px;
    width: calc(100% - 96px);
    box-sizing: border-box;
    max-width: 1280px;
}
@media screen and (max-width: 768px) {
    .header {
            width: calc(100% - 48px);
        }
}
@media screen and (max-width: 320px) {
    .header {
            width: calc(100% - 32px);
            min-height: 42px;
        }
}