.intro {
    max-width: 984px;
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .intro {
            max-width: 929px;
        }
}

@media screen and (max-width: 949px) {
    .intro {
        max-width: calc(100% - 48px);
        }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: calc(100% - 32px);
        }
}