.place__website {
    grid-area: URL;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    
}
@media screen and (max-width: 616px) {
    .place__website {
            margin-left: 0;
        }
}
@media screen and (max-width: 320px) {
    .place__website {
            margin-left: 16px;
        }
}